@import "normalize";

$tablet-size: "(max-width: 768px)";

@font-face {
  font-family: "LCD Solid";
  src: url(/fonts/LCD_Solid.ttf);
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.logo {
  height: 150px;
  width: 300px;
}

.scoreboard {
  font-family: "LCD Solid";
  margin: 0 auto;
  max-width: 500px;

  @media #{$tablet-size} {
    margin: 0 1rem;
  }

  &__results {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

main {
  max-width: 900px;
  margin: 0 auto;
}

$total-cols: 12;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  & > * {
    flex: 0 0 100%;
  }
}

@for $i from 1 through $total-cols {
  .row .col-#{$i} {
    flex: 0 0 #{percentage($i / $total-cols)};
  }
}

$logo-size: 90;
$logo-bar-width: $logo-size - ($logo-size * .5);
$logo-bar-height: $logo-bar-width / 5;

.pong-logo {
  display: inline-block;
  padding: #{$logo-bar-height}px 0;
  position: relative;

  .top-line, .bottom-line {
    position: absolute;
    height: #{$logo-bar-height}px;
    width: #{$logo-bar-width}px;
    background-color: black;
  }

  .top-line {
    left: 0;
    top: 0;
    animation:linear infinite alternate;
    animation-name: left-to-right;
    animation-duration: 5s;
  }

  .bottom-line {
    right: 0;
    bottom: 0;
    animation:linear infinite alternate;
    animation-name: right-to-left;
    animation-duration: 5s;
  }

  .text {
    text-transform: uppercase;
    font-size: #{$logo-size}px;
    font-weight: bold;
    font-family: sans-serif;
  }

  .red {
    color: #ff0202;
  }
}

@keyframes left-to-right {
  0% { left: 0;}
  50%{ left : calc(100% - #{$logo-bar-width}px); }
  100%{ left: 0;}
}

@keyframes right-to-left {
  0% { right: 0;}
  50%{ right : calc(100% - #{$logo-bar-width}px); }
  100%{ right: 0;}
}
